:root {
  --mainBrown: #2d1ef1;
  --mainWhite: #ffff;
  --mainBlack: rgba(14, 13, 13, 0.133);
  --mainYellow: #ff9e09;
  --mainGray: #ece8dc;
}
body {
  background: #fff;

  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}
.text-yellow {
  color: #ff9e09;
}

.cart-icon {
  cursor: pointer;
  color: #ff9e09;
  font-size: 2rem;
}
